.model-container {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  position: fixed;
  inset: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #060117f4;
}

.model-container::after {
  content: '';
  width: 30%;
  height: 60%;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: -10;
  background: url('/assets/chevron.png') no-repeat;
}

.model-content-container {
  width: 80%;
  font-weight: 200;
  letter-spacing: 1px;
}

.model-content-button {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
}


/* Ipads */
@media (width >= 450px) {
  .model-content-container {
    width: 100%;
  }
  .model-content-container p {
    font-size: 1rem;
  }
}

/* Medium devices */
@media (width >= 900px) {
  .model-content-container {
    width: 80%;
  }
}

/* Large devices */
@media (width > 1500px) {
  .model-content-container p {
    font-size: 1.3rem;
  }
}

