.model-container {
  min-height: 100vh;
  width: 100vw;
  /* padding: 4rem 2rem 0 2rem; */
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--mainBackgroundColor);
  overflow: scroll;
}


.model-content-container {
  width: 100%;
  height: fit-content;
  font-weight: 200;
  letter-spacing: 1px;
}

.model-content-button {
  margin: 2rem 0 2rem 0;
}

.model-content-container p {
  font-size: 0.55rem;
}

/* Ipads */
@media (width >= 450px) {
  .model-content-container {
    width: 100%;
  }
  .model-content-container p {
    font-size: 1rem;
  }
  .model-content-button {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
  }
}

/* Medium devices */
@media (width >= 900px) {
  .model-container {
    padding: 6rem;
  }
  .model-content-container {
    width: 80%;
  }
}

/* Large devices */
@media (width > 1500px) {
  .model-content-container p {
    font-size: 1.3rem;
  }
}
