.about-us-section {
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.about-us-section::before {
  content: '';
  width: 15%;
  height: 25%;
  position: absolute;
  top: 9rem;
  right: 2rem;
  z-index: -10;
  background: url('/assets/chevron.png') no-repeat center;
  background-size: contain;
}

.about-us-section::after {
  content: '';
  width: 25%;
  height: 40%;
  position: absolute;
  bottom: -15%;
  left: 0rem;
  z-index: -10;
  background: url('/assets/chevron.png') no-repeat center;
  background-size: contain;
}

.about-us-section-content {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 2rem;
}

.about-us-button {
  margin-top: 5rem;
}

.our-beginnings-modal-text {
  font-size: 0.2rem;
}

/* Ipads and above */
@media (width > 450px) {
  .home-section {
    flex-direction: row;
  }
  .about-us-section-content {
    height: 100%;
    width: 50%;
    padding: 5rem;
  }
}
