.contact-us-container {
  width: 80%;
  height: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.contact-us-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-us-column {
  width: 49%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.contact-us-secondary-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
