@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offBlack: #080808;
  --richBlack: #00171f;
  --charcoal: #2e4052;
  --offWhite: #b4b3b3;
  --white: #fff;
  --mainBackgroundColor: var(--offBlack);
  --buttonColor: var(--richBlack);
  --buttonHover: var(--charcoal);
  --green:#206012;
  --greenHover:#458636;
  --red:#B60000;
  --lightBlue:#70CCCB
}


body {
  color: var(--white);
  background: var(--mainBackgroundColor);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ff-sans-cond {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.basic-button {
  color: var(--white);
  background: var(--buttonColor);
  transition: all 0.3s ease-in-out;
}

.basic-button:hover {
  background: var(--buttonHover);
}


