@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(6, 1, 23);
}

body {
  color: #fff;
  background: var(--background);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-page-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ff-sans-cond {
  font-family: 'Encode Sans Condensed', sans-serif;
}
