
.name-hatchling-card {
    width: 18rem;
    height: 25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 5px;
    outline: 2px solid rgba(255, 255, 0, 0.179);
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out;
  }
  
  .name-hatchling-card:hover {
  box-shadow: 0 0 10px 5px var(--green);
  }
  
  .name-hatchling-card h3 {
    margin-top: 3rem;
    align-self: start;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--green);
  }
  
  .name-hatchling-card ul {
    list-style: inside !important;
  }
  .name-hatchling-card ul li {
    margin-bottom: 0.6rem;
  }
  .hatchling-image {
    width: 50%;
    height: auto;
    position: absolute;
    top: -5%;
    left: 60%;
    transition: all 0.5s ease-in-out;
  }
  .name-hatchling-card:hover .hatchling-image {
    transform: translateX(-70%) translateY(-20%) scale(1.7);
  }
  
  .name-hatchling-button {
    width: 4rem;
    height: 2rem;
    background: var(--green);
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .name-hatchling-button:hover {
    background: var(--greenHover);
  }
  
  .name-hatchling-button:active {
      background: var(--red);
    }
  .name-hatchling-details {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  