footer {
  width: 100vw;
  height: 9rem;
  background: var(--mainBackgroundColor);
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-text {
  width: 90%;
  height: 90%;
  color: var(--offWhite);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  margin: 0;
  padding: 1rem 0;
}

.footer-text p {
  color: var(--offWhite);
  font-size: 0.9rem;
}

.footer-text a {
  color: var(--white);
  font-size: 0.8rem;
  cursor: pointer;
}

.footer-links {
  height: 20%;
  width: 20%;
  /* position: absolute; */
  left: 0rem;
  top: -6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.footer-icon {
  height: 1.5rem;
  aspect-ratio: 1;
  transition: 0.3s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.3);
}

.instagram-link {
  background: url(/assets/insta.png) no-repeat center center;
  background-size: contain;
}

.twitter-link {
  background: url(/assets/twiter.png) no-repeat center center;
  background-size: contain;
}

.facebook-link {
  background: url(/assets/facebook.png) no-repeat center center;
  background-size: contain;
}

.footer-button {
  transition: 0.5s;
  margin-left: 0.3rem;
}

.footer-button:hover {
  color: var(--white);
  font-size: 0.9rem;
}

.copy-right-text {
  text-transform: capitalize;
}
.m-0 {
  margin: 0;
}

.m-t-06 {
  margin: 0.6rem 0;
}

.t-07 {
  font-size: 0.7rem;
}

.t-11 {
  font-size: 1.1rem;
}
.bold {
  font-weight: bold;
}

.copy-right-list {
  list-style: inside;
}

.copy-right-list:before {
  content: attr(aria-label);
  font-size: 0.7rem;
  margin-top: -10rem;
}

.copy-right-list li {
  margin: 0.6rem;
}

@media (width >= 900px) {
  footer {
    height: 4rem;
    flex-direction: row;
  }
  .footer-text {
    width: auto;
    flex-direction: row;
  }

  .footer-links {
    position: absolute;
    width: 5%;
    height: 100%;
    left: 2rem;
    top: 0;
    flex-direction: row;
  }
}
