.primary-header {
  height: 2rem;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 99999;
  inset: 1rem 0;
  justify-content: space-between;
}

.primary-logo-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-left: 2rem;
  transform-origin: top;
  animation: logo-animation linear forwards;
  animation-timeline: scroll();
}

@keyframes logo-animation {
  10%,
  100% {
    transform: scale(0.6) translate(-3rem, 1rem);
  }
}

/* navbar */

.primary-navigation {
  position: fixed;
  z-index: 99999;
  flex-wrap: wrap;
  overflow: scroll;
  inset: 0 0 0 0%;
  margin: 0;
  padding: 5.5rem 2rem 2rem 2rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.47);
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation[data-visible='true'] {
  transform: translateX(0%);
}

.navbar-dividers {
  width: 100%;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  margin-top: 1rem;
}
.navbar-dividers::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--lightBlue);
  position: absolute;
  left: 0;
  bottom: 0;
}

.NavBar-active {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: display 0.5s ease-in-out;
}

.NavBar-active:hover {
  background-color: #70ccca72;
  color: black;
}

.NavBar-link {
  text-decoration: none;
  color: var(--lightBlue);
  font-size: 3vw;
  font-weight: 400;
  cursor: pointer;
  text-align: flex-start;
}

/* Ipads and above */
/* @media (width > 450px) {

} */

/* Medium devices */
@media (width >= 900px) {
  .primary-logo-text {
    margin-top: 0;
    font-size: 1.4rem;
    margin-left: 2rem;
  }
  .primary-header {
    inset: 2rem 0;
  }
  .primary-navigation {
    inset: 0 0 0 70%;
    padding: 5.5rem 2rem 2rem 2rem;
  }
  .NavBar-link {
    font-size: 0.9vw;
  }

  @keyframes logo-animation {
    10%,
    100% {
      transform: scale(0.6) translate(-3rem, -2rem);
    }
  }
}

/* Large devices */
/* @media (width > 1500px) {

} */
