.primary-header {
  height: 5rem;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 99999;
  inset: 2rem 0;
  justify-content: space-between;
}

.primary-logo {
  height: 4rem;
  width: auto;
  margin: 3rem;
}

/* navbar */

.primary-navigation {
  position: fixed;
  z-index: 99999;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 1em;
  inset: 0 0 0 70%;
  margin: 0;
  padding: 5.5rem 2rem 2rem 2rem;
  transform: translateX(100%);
  transition: transform 350ms ease-in;
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
  }
}
.primary-navigation[data-visible='true'] {
  transform: translateX(0%);
}

.navbar-dividers{
  width: 100%;
  line-height: 1.5;
}

.NavBar-link{
  text-decoration: none;
  color: var(--lightBlue);
  font-size: 1.6vw; 
  font-weight: 600;
  cursor: pointer;
  transition: display 2s ease-in-out;
  mix-blend-mode: screen;
  margin: 0 auto;
  text-align: center;
}

.NavBar-active {
 width: 45%;
 height: 8rem;
 outline:2px solid var(--lightBlue);
 border-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 1s ease-in-out;
}

.NavBar-active:hover {
  background-color: var(--lightBlue);
}

/* .NavBar-link > [aria-hidden='true']{
  font-weight: 700;
  margin-inline-end: 0.5em;
  transition: display 2s ease-in-out;
} */

@media (max-width: 35em) {
  .primary-logo {
    height: 3rem;
    margin: 2rem;
  }
  .primary-header {
    inset: 1rem 0;
  }
}
